.commandInput {
	-fx-background-radius: 0.0;
}

/* Default background color for items */
.list-cell {
	-fx-background-color: #FCFCFC;
	-fx-padding: 0.0px;
}

.list-view {
	-fx-border-width: 2.0px 0.0 1.0px 0.0px;
	-fx-padding: 0px;
}

.textViewTextArea {
	-fx-background-radius: 0.0;
}

.textViewTextArea .content {
	-fx-background-radius: 0.0;
}

/* Individual task items. */
.taskItem {
	-fx-border-width: 0.0 0.0 1.0px 3px;
}

.taskItem.taskDateLabel {
	-fx-font-size: 16px;
	-fx-padding: 2px 10px 2px 10px;
}

/* Begin completed tasks */
.taskItem.completed {
	-fx-opacity: 0.7;
}

.taskItem.completed .taskName .text {
	-fx-strikethrough: true;
}
/* End completed tasks */

/* Begin priority indicators */
.taskItem.priorityHigh .taskItemLine1, .taskItem.priorityHigh .taskItemLine2 {
	-fx-stroke: #F44336;
}

.taskItem.priorityMedium .taskItemLine1, .taskItem.priorityMedium .taskItemLine2 {
	-fx-stroke: #FFC107;
}

.taskItem.priorityLow .taskItemLine1, .taskItem.priorityLow .taskItemLine2 {
	-fx-stroke: #4CAF50;
}

.taskItem.priorityHigh .priorityImage {
	-fx-image: url("../images/priority_high_icon.png");
}

.taskItem.priorityMedium .priorityImage {
	-fx-image: url("../images/priority_medium_icon.png");
}

.taskItem.priorityLow .priorityImage {
	-fx-image: url("../images/priority_low_icon.png");
}
/* End priority indicators */

.commandInput {
	-fx-background-radius: 0.0;
}

.infoView {
	-fx-background-color: linear-gradient(from 0.0px 0.0px to 0.0px 6.0px, #DDDDDD, #FCFCFC);
}

.infoView .infoContent, .infoView .infoDate, .infoView .infoPriority, 
.infoView .infoDescription, .infoView .infoCommand, 
.infoView .infoRequired, .infoView .infoOptional {
	-fx-font-family: "Segoe UI Semibold";
}