.list-view {
	-fx-background-color: #323A43;
	-fx-border-color: transparent transparent #101010 transparent;
}

.list-cell {
	-fx-background-color: #323A43;
}

.list-cell .label {
	-fx-text-fill: #FDFDFD; 
}

/* Odd task items */
.list-cell:odd .taskItem {
	-fx-background-color: #2B303B;
}

/* Even task items */
.list-cell:even .taskItem {
	-fx-background-color: #323A43;
}

.taskItem {
	-fx-border-color: transparent transparent #151515 transparent;
}

.list-view .listViewTitle, .list-view .listViewNoTasks, .list-view .listViewInfo1, .list-view .listViewInfo2 {
	-fx-text-fill: #FDFDFD; 
}

.statusBar {
	-fx-background-color: #292E39;
}

.commandInput {
	-fx-background-color: #1C1F26;
	-fx-text-fill: #FDFDFD;
}

.textViewTextArea {
	-fx-background-color: #323A43;
	-fx-text-fill: #FDFDFD;
}

.textViewTextArea .content {
	-fx-background-color: #323A43;
}

.taskItemLines .taskItemLine1, .taskItemLines .taskItemLine2 {
	-fx-stroke: #151515;	
}

/* Status bar */
.statusBar.success {
	-fx-text-fill: #78CA5C;
}

.statusBar.error {
	-fx-text-fill: #F64641;
}

.statusBar.info {
	-fx-text-fill: #FDFDFD;
}
/* End status bar */