
.list-view {
	-fx-background-color: #FCFCFC;
	-fx-border-color: transparent transparent #CCCCCC transparent;
}

.list-cell {
	-fx-background-color: #FCFCFC;
}

/* Individual task items. */
.taskItem {
	-fx-border-color: transparent transparent #CCCCCC transparent;
	-fx-border-width: 0.0 0 1px 0;
}

/* Odd task items */
.list-cell:odd .taskItem {
	-fx-background-color: #FCFCFC;
}

/* Even task items */
.list-cell:even .taskItem {
	-fx-background-color: #F5F5F5;
}

.taskItemLines .taskItemLine1, .taskItemLines .taskItemLine2 {
	-fx-stroke: #CCCCCC;	
}