.list-view {
	-fx-background-color: #323A43;
	-fx-border-color: #101010 transparent #101010 transparent;
}

.list-cell {
	-fx-background-color: #323A43;
}

.list-cell .label {
	-fx-text-fill: #FDFDFD; 
}

.taskListHeader {
	-fx-background-color: #292E39;
	-fx-text-fill: #FDFDFD;
	-fx-border-color: transparent transparent #151515 transparent;
}

.taskItem.completed {
	-fx-background-color: #314937;
}

.taskItem.completed .taskItemDate, .taskItem.completed .taskItemTime {
	-fx-background-color: #9599a2;
}

/* Begin task items. */
.taskItem {
	-fx-background-color: #323A43;
}

.taskItem {
	-fx-border-color: transparent transparent #151515 transparent;
}

.taskItem.purple {
	-fx-border-color: transparent transparent #151515 #35294F;
}

.taskItem.taskDateLabel.purple {
	-fx-background-color: #35294F;
}

.taskItem.blue {
	-fx-border-color: transparent transparent #151515 #233E4B;
}

.taskItem.taskDateLabel.blue {
	-fx-background-color: #233E4B;
}

.taskItem.green {
	-fx-border-color: transparent transparent #151515 #234B39;
}

.taskItem.taskDateLabel.green {
	-fx-background-color: #234B39;
}

.taskItem.yellow {
	-fx-border-color: transparent transparent #151515 #503E25;
}

.taskItem.taskDateLabel.yellow {
	-fx-background-color: #503E25;
}

.taskItem.orange {
	-fx-border-color: transparent transparent #151515 #502B25;
}

.taskItem.taskDateLabel.orange {
	-fx-background-color: #502B25;
}

.taskItem.red {
	-fx-border-color: transparent transparent #151515 #371010;
}

.taskItem.taskDateLabel.red {
	-fx-background-color: #371010;
}

.taskItem.pink {
	-fx-border-color: transparent transparent #151515 #43223f;
}

.taskItem.taskDateLabel.pink {
	-fx-background-color: #43223f;
}
/* End task items. */

.taskItemTime, .taskItemDate {
	-fx-text-fill: #fcfcfc;
}

.taskItemTime {
	-fx-background-color: #386ee1;
}

.taskItemDate {
	-fx-background-color: #6b42e0;
}

.list-view .listViewTitle, .list-view .listViewNoTasks, .list-view .listViewInfo1, .list-view .listViewInfo2 {
	-fx-text-fill: #FDFDFD; 
}

.statusBar {
	-fx-background-color: #292E39;
}

.commandInput {
	-fx-background-color: #1C1F26;
	-fx-text-fill: #FDFDFD;
}

.textViewTextArea {
	-fx-background-color: #323A43;
	-fx-text-fill: #FDFDFD;
}

.textViewTextArea .content {
	-fx-background-color: #323A43;
}

.taskItemLines .taskItemLine1, .taskItemLines .taskItemLine2 {
	-fx-stroke: #151515;	
}

/* Status bar */
.statusBar.success {
	-fx-text-fill: #78CA5C;
}

.statusBar.error {
	-fx-text-fill: #F64641;
}

.statusBar.info {
	-fx-text-fill: #FDFDFD;
}
/* End status bar */

.infoView {
	-fx-background-color: linear-gradient(from 0.0px 0.0px to 0.0px 5.0px, #14181D, #292E39);
}

.infoView .text {
	-fx-fill: #FDFDFD;
}

.infoView .infoDate, .infoView .infoPriority {
	-fx-fill: #008ED6;
}

.infoView .infoCommand {
	-fx-fill: #EA7640;
}

.infoView .infoRequired {
	-fx-fill: #008ED6;
}

.infoView .infoOptional {
	-fx-fill: #A4A4A4;
}