.list-view {
	-fx-background-color: #323A43;
	-fx-border-color: #101010 transparent #101010 transparent;
}

.list-cell {
	-fx-background-color: #323A43;
}

.list-cell .label {
	-fx-text-fill: #FDFDFD; 
}

/* Odd task items */
.list-cell:odd .taskItem {
	-fx-background-color: #323A43;
}

/* Even task items */
.list-cell:even .taskItem {
	-fx-background-color: #323A43;
}

.taskListHeader {
	-fx-background-color: #292E39;
	-fx-text-fill: #FDFDFD;
}

/* Begin task items. */
.taskItem {
	-fx-border-color: transparent transparent #151515 transparent;
}

.taskItem.purple {
	-fx-border-color: transparent transparent #151515 #5856D6;
}

.taskItem.taskDateLabel.purple {
	-fx-background-color: #5856D6;
	-fx-text-fill: #FCFCFC;
}

.taskItem.blue {
	-fx-border-color: transparent transparent #151515 #007AFF;
}

.taskItem.taskDateLabel.blue {
	-fx-background-color: #007AFF;
	-fx-text-fill: #FCFCFC;
}

.taskItem.lightblue {
	-fx-border-color: transparent transparent #151515 #34AADC;
}

.taskItem.taskDateLabel.lightblue {
	-fx-background-color: #34AADC;
	-fx-text-fill: #FCFCFC;
}

.taskItem.green {
	-fx-border-color: transparent transparent #151515 #4CD964;
}

.taskItem.taskDateLabel.green {
	-fx-background-color: #4CD964;
	-fx-text-fill: #FCFCFC;
}

.taskItem.yellow {
	-fx-border-color: transparent transparent #151515 #FFCC00;
}

.taskItem.taskDateLabel.yellow {
	-fx-background-color: #FFCC00;
	-fx-text-fill: #FCFCFC;
}

.taskItem.orange {
	-fx-border-color: transparent transparent #151515 #FF9500;
}

.taskItem.taskDateLabel.orange {
	-fx-background-color: #FF9500;
	-fx-text-fill: #FCFCFC;
}
/* End task items. */

.list-view .listViewTitle, .list-view .listViewNoTasks, .list-view .listViewInfo1, .list-view .listViewInfo2 {
	-fx-text-fill: #FDFDFD; 
}

.statusBar {
	-fx-background-color: #292E39;
}

.commandInput {
	-fx-background-color: #1C1F26;
	-fx-text-fill: #FDFDFD;
}

.textViewTextArea {
	-fx-background-color: #323A43;
	-fx-text-fill: #FDFDFD;
}

.textViewTextArea .content {
	-fx-background-color: #323A43;
}

.taskItemLines .taskItemLine1, .taskItemLines .taskItemLine2 {
	-fx-stroke: #151515;	
}

/* Status bar */
.statusBar.success {
	-fx-text-fill: #78CA5C;
}

.statusBar.error {
	-fx-text-fill: #F64641;
}

.statusBar.info {
	-fx-text-fill: #FDFDFD;
}
/* End status bar */

.infoView {
	-fx-background-color: linear-gradient(from 0px 0px to 0px 5px, #14181D, #292E39);
}

.infoView .text {
	-fx-fill: #FDFDFD;
}

.infoView .infoDate, .infoView .infoPriority {
	-fx-fill: #008ED6;
}

.infoView .infoCommand {
	-fx-fill: #EA7640;
}

.infoView .infoRequired {
	-fx-fill: #008ED6;
}

.infoView .infoOptional {
	-fx-fill: #A4A4A4;
}