
.list-view {
	-fx-background-color: #FCFCFC;
	-fx-border-color: transparent transparent #CCCCCC transparent;
}

.list-cell {
	-fx-background-color: #FCFCFC;
}

.header {
	-fx-border-color: transparent transparent #606060 transparent;
}

.taskItem.completed {
	-fx-background-color: #def5df;
}

.taskItem.completed .taskItemDate, .taskItem.completed .taskItemTime {
	-fx-background-color: #a3a7b1;
}

/* Begin task items. */
.taskItem {
	-fx-background-color: #FCFCFC;
}

.taskItem {
	-fx-border-color: transparent transparent #CCCCCC transparent;
}

.taskItem.purple {
	-fx-border-color: transparent transparent #CCCCCC #c4c4e1;
}

.taskItem.taskDateLabel.purple {
	-fx-background-color: #c4c4e1;
	-fx-border-color: transparent transparent #9292de #c4c4e1;
}

.taskItem.blue {
	-fx-border-color: transparent transparent #CCCCCC #bacee5;
}

.taskItem.taskDateLabel.blue {
	-fx-background-color: #bacee5;
	-fx-border-color: transparent transparent #7faee3 #bacee5;
}

.taskItem.green {
	-fx-border-color: transparent transparent #CCCCCC #afdab6;
}

.taskItem.taskDateLabel.green {
	-fx-background-color: #afdab6;
	-fx-border-color: transparent transparent #73d884 #afdab6;
}

.taskItem.yellow {
	-fx-border-color: transparent transparent #CCCCCC #f4e9c0;
}

.taskItem.taskDateLabel.yellow {
	-fx-background-color: #f4e9c0;
	-fx-border-color: transparent transparent #f2da80 #f4e9c0;
}

.taskItem.orange {
	-fx-border-color: transparent transparent #CCCCCC #f4dcb9;
}

.taskItem.taskDateLabel.orange {
	-fx-background-color: #f4dcb9;
	-fx-border-color: transparent transparent #f0c17e #f4dcb9;
}

.taskItem.red {
	-fx-border-color: transparent transparent #CCCCCC #dfa9ac;
}

.taskItem.taskDateLabel.red {
	-fx-background-color: #dfa9ac;
	-fx-border-color: transparent transparent #df7c82 #dfa9ac;
}

.taskItem.pink {
	-fx-border-color: transparent transparent #CCCCCC #edcedb;
}

.taskItem.taskDateLabel.pink {
	-fx-background-color: #edcedb;
	-fx-border-color: transparent transparent #ec8bb5 #edcedb;
}

/* End task items. */

.taskItemLines .taskItemLine1, .taskItemLines .taskItemLine2 {
	-fx-stroke: #CCCCCC;	
}

.taskItemTime, .taskItemDate {
	-fx-text-fill: #fcfcfc;
}

.taskItemTime {
	-fx-background-color: #4b7adf;
}

.taskItemDate {
	-fx-background-color: #7854df;
}

/* Status bar */
.statusBar.success {
	-fx-text-fill: green;
}

.statusBar.error {
	-fx-text-fill: red;
}

.statusBar.info {
	-fx-text-fill: black;
}
/* End status bar */

.infoView .infoDate, .infoView .infoPriority {
	-fx-fill: #0056BD;
}

.infoView .infoDescription, .infoView .infoContent {
	-fx-fill: #232323;
}

.infoView .infoCommand {
	-fx-fill: #E35B2C;
}

.infoView .infoRequired {
	-fx-fill: #0056BD;
}

.infoView .infoOptional {
	-fx-fill: #666666;
}